{% extends "base.html" %}
{% block title %}intersect.husk.org. start.{% endblock %}
{% block content %}    
  <div id="content">
    <h2>Signed in as <a href="https://www.twitter.com/{{ user.screen_name }}">{{ user.screen_name }}</a>.</h2>

    <div id="blurb" style="margin-top:16px; width: 500px; color: #666;">
      <form action="/intersect" method="POST">
        <p>Enter the Twitter username to find an intersection:</p>
        <input type="text" name="other_name">
        <input type="submit" value="Go">
      </form>
    </div>
  </div>
{% endblock %}