{% extends "base.html" %}
{% block title %}intersect.husk.org. showing {{ stats.me }} and {{ stats.them }}.{% endblock %}
{% block style %}
    h1 { background-image: url(/static/whitebg50pc.png); padding: 10px; opacity: 1; display: inline; position: relative; left: -10px; }
    .me a { color: rgb(255, 102, 255); background-color: #fff; }
    span.them a { color: rgb(102, 204, 255); background-color: #fff; }
{% endblock %}
{% block content %}    
  <div id="content">
    <h2>Signed in as <a href="https://www.twitter.com/{{ user.screen_name }}">{{ user.screen_name }}</a>.</h2>

    <div id="blurb">
      <p><span class="me">{% if user.screen_name == stats.me %}<a name="me">You</a> have{% else %}<a href="https://www.twitter.com/{{ stats.me }}/">{{ stats.me }}</a> has{% endif %} </span>
         {{ stats.mine }} followers, <span class="them">and <a href="https://www.twitter.com/{{ stats.them }}">{{ stats.them }}</a> has</span> {{ stats.theirs }} followers.
        {% if not stats.both %}You have no followers in common.{% endif %}
      </p>
      {% if stats.both %}
        <p>{% if user.screen_name == stats.me %}You{% else %}They{% endif %} share {{ stats.both }} followers:</p>
        <ul>{% for u in users %}
            <li><a href="/intersect/{{ stats.me }}/{{ u.screen_name }}/" title="{{ u.name }}">{{ u.screen_name }}</a></li>
        {% endfor %}</ul>
      {% endif %}
    </div>
    
    <h2 class="clear"><a href="/">Search again</a>? <a href="/forget" class="logout">Log out</a>?</h2>

  </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
var e=document.documentElement,
    g=document.getElementsByTagName('body')[0],
    width=window.innerWidth||e.clientWidth||g.clientWidth,
    height=window.innerHeight||e.clientHeight||g.clientHeight;

var svg = d3.select("div#content").insert("svg", "div#blurb")
    .style("position", "absolute")
    .style("top", "0px")
    .style("left", "0px")
    .style("z-index", "-1")
    .attr("width", width)
    .attr("height", height);

console.log("width/height are "+width+", "+height)

var scale = width/(2*{{ stats.distance }})
var midpoint = height/2
if (midpoint > 400) { midpoint = 400; }

var me = svg.append("circle")
            .attr("cx", width/4)
            .attr("cy", midpoint)
            .attr("r", Math.sqrt({{ stats.mine }}/Math.PI)*scale)
            .style("fill", "rgba(255, 102, 255, .25)");

var them = svg.append("circle")
              .attr("cx", 3*width/4)
              .attr("cy", midpoint)
              .attr("r", Math.sqrt({{ stats.theirs }}/Math.PI)*scale)
              .style("fill", "rgba(102, 204, 255, .25)");

</script>
{% endblock %}
