{% extends "base.html" %}
{% block title %}intersect.husk.org. showing {{ user.screen_name }} and {{ stats.name }}.{% endblock %}

{% block content %}    
  <div id="content">
    <h2>Signed in as <a href="https://www.twitter.com/{{ user.screen_name }}">{{ user.screen_name }}</a>.</h2>

    <div id="blurb">
      <p>{% if user.screen_name == stats.me %}You have{% else %}<a href="https://www.twitter.com/{{ stats.me }}/">{{ stats.me }}</a> has{% endif %} 
         {{ stats.mine }} followers, and <a href="https://www.twitter.com/{{ stats.them }}">{{ stats.them }}</a> has {{ stats.theirs }} followers.
        {% if not stats.both %}You have no followers in common.{% endif %}
      </p>
      {% if stats.both %}
        <p>{% if user.screen_name == stats.me %}You{% else %}They{% endif %} share {{ stats.both }} followers:</p>
        <ul>{% for u in users %}
            <li><a href="/intersect/{{ stats.me }}/{{ u.screen_name }}/" title="{{ u.name }}">{{ u.screen_name }}</a></li>
        {% endfor %}</ul>
      {% endif %}
    </div>
    
    <div class="clear"><a href="/">Search again</a>? <a href="/forget">Log out</a>?</div>

  </div>
{% endblock %}

{% block script %}
<script>
var e=document.documentElement,
    g=document.getElementsByTagName('body')[0],
    width=window.innerWidth||e.clientWidth||g.clientWidth,
    height=window.innerHeight||e.clientHeight||g.clientHeight;

var svg = d3.select("div#content").insert("svg", "div#blurb")
    .style("position", "absolute")
    .style("top", "0px")
    .style("left", "0px")
    .style("z-index", "-1")
    .attr("width", width)
    .attr("height", height);

console.log("width/height are "+width+", "+height)

var scale = width/(2*{{ stats.distance }})

var me = svg.append("circle")
            .attr("cx", width/4)
            .attr("cy", height/2)
            .attr("r", Math.sqrt({{ stats.mine }}/Math.PI)*scale)
            .style("fill", "rgba(0, 50, 0, .25)")
            .style("stroke", "rgba(0, 0, 0, .5)");

var them = svg.append("circle")
              .attr("cx", 3*width/4)
              .attr("cy", height/2)
              .attr("r", Math.sqrt({{ stats.theirs }}/Math.PI)*scale)
              .style("fill", "rgba(100, 0, 0, .25)")
            .style("stroke", "rgba(0, 0, 0, .5)");

</script>
{% endblock %}
