{% extends "base.html" %}
{% block title %}intersect.husk.org. showing {{ user.screen_name }} and {{ stats.name }}.{% endblock %}

{% block content %}    
  <div id="content">
    <h2>Signed in as <a href="https://www.twitter.com/{{ user.screen_name }}">{{ user.screen_name }}</a>.</h2>

    <div id="blurb">
      <p>You have {{ stats.me }} followers, and <a href="https://www.twitter.com/{{ stats.name }}">{{ stats.name }}</a> has {{ stats.other }} followers.</p>
      <p>You share {{ stats.both }} followers:</p>
      <ul>{% for user in users %}
          <li class="{{ user.screen_name }}"><a href="https://www.twitter.com/{{ user.screen_name }}" title="{{ user.screen_name }}">{{ user.name }}</a></li>
      {% endfor %}</ul>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
var e=document.documentElement,
    g=document.getElementsByTagName('body')[0],
    width=window.innerWidth||e.clientWidth||g.clientWidth,
    height=window.innerHeight||e.clientHeight||g.clientHeight;

var svg = d3.select("div#content").insert("svg", "div#blurb")
    .style("position", "absolute")
    .style("top", "0px")
    .style("left", "0px")
    .style("z-index", "-1")
    .attr("width", width)
    .attr("height", height);

console.log("width/height are "+width+", "+height)

var scale = width/(2*{{ stats.distance }})

var me = svg.append("circle")
            .attr("cx", width/4)
            .attr("cy", height/2)
            .attr("r", Math.sqrt({{ stats.me }}/Math.PI)*scale)
            .style("fill", "rgba(0, 50, 0, .25)")
            .style("stroke", "rgba(0, 0, 0, .5)");

var them = svg.append("circle")
              .attr("cx", 3*width/4)
              .attr("cy", height/2)
              .attr("r", Math.sqrt({{ stats.other }}/Math.PI)*scale)
              .style("fill", "rgba(100, 0, 0, .25)")
            .style("stroke", "rgba(0, 0, 0, .5)");

</script>
{% endblock %}